body {
    background-color: rgb(32, 56, 52) !important;
    margin: 0 0 0 0;
}

p {
    margin: 5vh 0 5vh 0;
}

table {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px auto 20px auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

td span {
    display: inline-block;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tr {
    color: white;
}

#video {
    display: flex;
    justify-content: center;
}

#video iframe {
    width: 64vw;
    height: 36vw;
}

#table_members {
    margin: auto 2px auto 2px;
}

#table_members td, th {
    font-size: 18px;
    padding: 5px 1px 5px 1px;
    text-align: center;
}

#table_members td:nth-child(1) {
    width: 13%;
}

#table_members td:nth-child(2) {
    width: 12%;
}

#table_members td:nth-child(3), #table_members td:nth-child(4) {
    width: 22%;
}

#table_members td:nth-child(5) {
    width: 31%;
}

#table_members tr:hover {
    opacity: 0.8;
}

#table_specialthanks {
    margin: 40px auto 200px auto;
}

#table_specialthanks td, th {
    width: 300px;
    text-align: center;
    font-size: 20px;
    padding: 4px 2px 4px 2px;
}

#head {
    width: 100%;
    height: 90vh;
}

#head img {
    animation-timing-function: ease-in;
}

#background {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    z-index: -1;
}

#background img {
    margin: 0 auto 0 auto;
    width: 100%;
}

#navbar {
    padding: 5px 10px 10px 5px;
    margin: 0 0 0 0;
    background-color: rgb(49, 57, 73);
    height: 11vh;
}

#icon {
    border-radius: 15px;
    height: 50px;
}

#title {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

#title:hover {
    opacity: 0.8;
}

#nav-links {
    padding-left: 16px;
    background-color: rgb(49, 57, 73);
}

#up_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 55px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    background-color: rgb(49, 57, 73);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

#up_button a {
    text-decoration: none;
    color: white;
}

#up_button:hover {
    opacity: 0.7;
}

#art_class {
    color: white;
    font-size: 30px;
    margin: 20px 0 20px 10px;
    font-weight: bolder;
}

#title_members {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 20px 0 20px 10px;
    font-size: 30px;
    color: white;
}

#title_specialthanks {
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 20px 0 40px 20px;
    text-align: center;
}

#title_streaming {
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    margin-top: 20px;
}

#banner {
    animation: 2s fadeIn_banner;
    display: block;
    margin: 130px auto 20px auto;
    width: 70vw;
}

#hotel {
    animation: 2s fadeIn_hotel;
    margin: 0 auto 0 auto;
    display: block;
    width: 50vw;
    opacity: 0.5;
    visibility: hidden;
}

@keyframes fadeIn_banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn_hotel {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

#content {
    padding-top: 11vh;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    animation: 1s slideIn;
    animation-timing-function: ease-in;
}

#box_left {
    width: 325px;
    float: left;
}

#history_content {
    overflow-x: hidden;
    overflow-y: scroll;
}

#img_container {
    margin: 10px 0 10px 20px;
    text-align: center;
}

#img_container::after {
    content: "";
    clear: both;
    display: table;
}

#img_container img {
    float: left;
    transition: 0.3s ease-in;
    width: 150px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    filter: brightness(80%);
}

#img_container img:hover {
    transform: scale(1.05);
    filter: brightness(120%);
}

#footer {
    background-color: rgb(49, 57, 73);
    height: 18vh;
}

#copyright {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-left: 20px;
}

#buttom_bar {
    padding: 5px 10px 10px 5px;
    margin: 0 0 0 0;
    background-color: rgb(49, 57, 73);
    height: 10vh;
}

#padding {
    height: 10vh;
    background-color: rgb(49, 57, 73);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
    opacity: 0.8;
}

.container {
    color: white;
}

.icon {
    width: 25px;
    margin: 0 auto 0 auto;
    display: block;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.icon:hover {
    filter: brightness(150%);
    width: 26px;
}

.box {
    margin: auto 0 auto 0;
    height: 69vh;
}

.box div {
    margin: 30px 10px 30px 20px;
}

.box a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Noto Sans TC', sans-serif;
}

.box a:hover {
    text-decoration: underline;
}

.day {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    margin: 10px 0 10px 20px;
}

.day h3 {
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.day ol {
    padding-left: 20px;
}

.section {
    margin: 10px 50px 10px 30px;
}

.date {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #EED07C;
    margin-left: -10px;
}

.bottom_icon {
    margin: 0 5px 0 5px;
    width: 35px;
}

@media only screen and (max-width: 1000px) {
    table {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    #table_specialthanks td, th {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    #banner {
        margin-top: 80px;
    }
    #hotel {
        visibility: visible;
    }
    #video iframe {
        width: 96vw;
        height: 54vw;
    }
    #img_container img {
        width: 120px;
        height: 80px;
    }
}

@media only screen and (max-width: 500px) {
    #title_members {
        font-size: 25px;
    }
    #table_specialthanks td, th {
        font-size: 17px;
    }
}

@media only screen and (max-width: 420px) {
    #table_specialthanks td, th {
        font-size: 14px;
    }
    #copyright {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #icons::before {
        content: "\A";
        white-space: pre;
    }
    #mourn {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    #content {
        font-size: 15px;
        line-height: 30px;
    }
    #title {
        font-size: 15px;
    }
    #title_members {
        font-size: 20px;
    }
    #banner {
        width: 80vw;
    }
    #hotel {
        width: 80vw;
    }
}

@media only screen and (max-width: 350px) {
    #table_specialthanks td, th {
        font-size: 10px;
    }
    #mourn {
        font-size: 13px;
    }
}