body {
    background-color: rgb(32, 56, 52);
    margin: 0 0 0 0;
}

p {
    margin: 5vh 0 5vh 0;
}

table {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px auto 20px auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

td, th {
    width: 200px;
    font-size: 18px;
    border: 1px solid papayawhip;
    text-align: center;
}

tr {
    padding: 5px 0 5px 0;
    color: white;
}

tr:hover {
    opacity: 0.8;
}

#head {
    width: 100%;
    height: 90vh;
}

#head img {
    margin: 0 auto 0 auto;
    display: block;
    width: 40vw;
    animation: 2s fadeIn;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#background {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    z-index: -1;
}

#background img {
    margin: 0 auto 0 auto;
    width: 100%;
}

#navbar {
    padding: 5px 10px 10px 5px;
    margin: 0 0 0 0;
    background-color: rgb(49, 57, 73);
    height: 15vh;
}

#icon {
    border-radius: 15px;
    height: 50px;
}

#title {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

#title:hover {
    opacity: 0.8;
}

#nav-links {
    padding-left: 16px;
    background-color: rgb(49, 57, 73);
}

#up_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 55px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    background-color: rgb(49, 57, 73);
    border: 2px solid white;
    border-radius: 5px;
}

#up_button a {
    text-decoration: none;
    color: white;
}

#title_members {
    text-align: center;
    margin: 20px 0 20px 10px;
    font-size: 30px;
    color: white;
}

#hotel {
    opacity: 0.5;
    visibility: hidden;
}

#content {
    padding-top: 10vh;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    animation: 1s slideIn;
    animation-timing-function: ease-in;
}

#footer {
    background-color: rgb(49, 57, 73);
    height: 20vh;
}

#copyright {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
    opacity: 0.8;
}

.container {
    color: white;
}

@media only screen and (max-width: 1400px) {
    #head img {
        width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    table {
        margin-left: 20px;
        margin-right: 20px;
    }    
}

@media only screen and (max-width: 800px) {
    #head img {
        width: 80vw;
    }
    #head {
        height: 90vh;
    }
}

@media only screen and (max-width: 500px) {
    #title_members {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    #copyright {
        font-size: 15px;
    }
    #content {
        font-size: 15px;
    }
    #title {
        font-size: 15px;
    }
    #title_members {
        font-size: 20px;
    }
}

@media only screen and (max-width: 350px) {
    #hotel {
        visibility: visible;
    }
}